.result {
    font-size: 35px;
    margin-top: 22px;
    margin-bottom: 50px;
    padding: 16px;
    width: 700px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #2c662d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Change to align content from top */
    min-height: 250px; /* Allow for dynamic height */
}

button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #46e243;
    color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 20%; 
    box-sizing: border-box; 
}

button:hover {
    background-color: #5a9de9;
    transform: translateY(-2px);
}

button:active {
    background-color: #5a9de9;
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button i {
    font-size: 20px;
}

.pH-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}

.pH-heading {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.pH-value {
    font-size: 45px;
    font-weight: bolder;
    color: #35be32;
    margin-top: 16px;
}

.d2 p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}