.input-container {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(174, 174, 174, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
  }
  
  .input-field input {
    width: 600px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  .input-field input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .analyze-button {
    width: 150px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .analyze-button i {
    margin-left: 16px;
  }
  
  .analyze-button:hover {
    background-color: #0056b3;
  }